* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  height: 100%;
}

.btn {
  display: inline-block;
  padding: 15px 60px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #111;
  color: #eee;
  border-radius: 5px;
  transition: background 500ms ease;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(36, 35, 35);
}

.headline {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
  letter-spacing: 2px;
  word-spacing: 5px;
}

#navbar {
  width: 100%;
  height: 80px;
  background-color: #111;
  color: #eee;
  position: fixed;
}

#navbar-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
}

#navbar-menu {
  display: flex;
}

#navbar-menu li {
  text-transform: uppercase;
  padding: 10px;
}

#showcase {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  background: url('assets/showcase.jpg') no-repeat center center/cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: color;
}

#showcase-container {
  text-align: center;
}

#showcase-container h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

#showcase-container p {
  font-size: 1.2rem;
  padding: 2px 0;
  margin-bottom: 10px;
}

#clients {
  width: 100%;
  background-color: #eee;
  color: #111;
  padding: 50px;
}

#clients-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 15px;
}

.client {
  display: inline-block;
  width: 25%;
}

#features {
  width: 100%;
  background-color: #222;
  color: #eee;
  padding: 50px;
}

#features-container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
}

#product {
  width: 100%;
  padding: 50px;
}

#product-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#items {
  max-width: 500px;
}

#items .item {
  display: flex;
  padding: 10px;
  margin: 15px 0;
  font-size: 1.2rem;
}

#items .item i {
  margin-right: 15px;
}

#testimonials {
  width: 100%;
  background-color: #222;
  color: #eee;
  padding: 50px;
}

#testimonials-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  background-color: #333;
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
}

.testimonial-image {
  height: 150px;
  border-radius: 50%;
  margin: 15px;
}

#gallery {
  width: 100%;
  margin: auto;
  padding: 50px;
}

#gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

.gallery-image {
  display: inline-block;
  width: 470px;
  height: 300px;
  border-radius: 5px;
}

#footer {
  background-color: #222;
  color: #eee;
  padding: 30px;
  text-align: center;
}
